Makefile.in
aclocal.m4
autom4te.cache/
config.guess
config.h.in
config.sub
configure
compile
depcomp
install-sh
ltmain.sh
missing
.deps/
Makefile
config.h
config.log
config.status
configure~
libtool
pstack
pstack-amd64.o
pstack.o
stamp-h1
